#icon{
    font-size:3rem;
}
#editLinkButton{
    background: none;
    border:none;
    font-size:1.2rem;
}
#noEditLinkButton{
    background: none;
    border:none;
}
#editIconButton{
    background: none;
    border:none;
}
#deleteButton{
    color:red;
    position: absolute;
    right:0px;
    top:0px;
    font-size:2rem;
    cursor: pointer;
}
#claimButton{
    width:125px;
}