<div class="row shadow pt-4 pb-3 pb-sm-4">
    <i *ngIf="editable" id="deleteButton" (click)="deleteItem()" class="material-icons">
        delete_forever
    </i>
    <div class="col-3 col-sm-3 pr-0 pr-sm-2 d-flex justify-content-center align-items-center">
        <div *ngIf="editable">
            <button type="button" id="editIconButton" class="btn colorSwap pr-0" (click)="iconModal.open()">
                <i class="material-icons primaryFontColor" id="icon">
                    {{item.icon ? item.icon : 'card_giftcard'}}
                </i>
                <h6 class="mb-0">Edit</h6>
            </button>
        </div>
        <div *ngIf="!editable">
            <i class="material-icons primaryFontColor" id="icon">
                {{item.icon ? item.icon : 'card_giftcard'}}
            </i>
        </div>
    </div>
    <div class="col-9 col-sm-6 mt-3 mt-sm-2 pl-0 pl-sm-2">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <app-editable-text default="Click To Edit Name" [text]="item.name" [finishCallback]="nameEdited"
                    fontSize="1.2rem" fontColor="#4c4c4c" [editable]="editable" width="250px"></app-editable-text>
            </div>
        </div>

        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <app-editable-text default="Click To Edit Description" [finishCallback]="descriptionEdited" fontSize="1rem"
                    fontColor="#ababab" [(text)]="item.description" [editable]="editable" width="250px"></app-editable-text>
            </div>
        </div>
    </div>
    <div *ngIf="editable; then editButtons else noEditButtons"></div>
    <ng-template #editButtons>
        <div class="col-12 col-sm-3 mt-1 mt-sm-0 d-flex justify-content-center align-items-center flex-column">
            <button id="editLinkButton" class="themeFontColor" (click)="linkModal.open()"><u>{{item.link ? 'Edit Link'
                    : 'Add Link'}}</u></button>
        </div>
    </ng-template>
    <ng-template #noEditButtons>
        <div class="col-12 col-sm-3 mt-4 mt-sm-0">
            <div class="row">
                <div class="col-6 col-sm-12 d-flex justify-content-center align-items-center">
                    <a id="editLinkButton" *ngIf="item.link" class="themeFontColor" href="{{item.link}}" target="_blank"><u>Link</u></a>
                    <p *ngIf="!item.link" class="secondaryFontColor mb-0">No Link</p>
                </div>
                <div class="col-6 col-sm-12 mt-0 mt-sm-2 d-flex justify-content-center align-items-center">
                    <button id="claimButton" class="btn btn-success" (click)="claimButtonClicked()">Claim</button>
                </div>
            </div>
        </div>
    </ng-template>

</div>
<app-edit-link #linkModal [(item)]="item" [finishCallback]="linkEdited"></app-edit-link>
<app-edit-icon #iconModal [(item)]="item" [finishCallback]="iconEdited"></app-edit-icon>
<app-claim-modal #claimModal [(item)]="item" ></app-claim-modal>