#icon{
    font-size:3rem;
}
#editLinkButton{
    color:inherit;
    text-decoration: inherit;

}
#editLinkButton2{
    border:none;   
}
#noEditLinkButton{
    background: none;
    border:none;
}
#editIconButton{
    background: none;
    border:none;
}
#deleteButton{
    color:#ff6767;
    position: absolute;
    right:-7px;
    top:-15px;
    font-size:2rem;
    cursor: pointer;
}
#mainRow{
    box-shadow: 0px 0px 7px 0px #C7C7C7;
}
.claimButton{
    width:125px;
}
.leftAlignedText{
    position: relative;
    left:0px;
}