
<div *ngIf="loading; then loadingView else mainView"></div>
<ng-template #loadingView>
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <app-loading-spinner></app-loading-spinner>
        </div>
    </div>
</ng-template>
<ng-template #mainView>

    <div class="row pr-2 pl-2">
        <div class="col-12" id="main">
            <div class="row" id="copyListIdDiv">
                <div class="col-12">
                    <button class="btn themeFontColorMuted" id="copyListIdButton" (click)="copyMessage(list._id)"><i class="material-icons">
                            mobile_screen_share
                            </i> Share List</button>
                </div>
            </div>
            <div class="row">
                <div class="col-12 mt-2">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-center">
                            <app-editable-text default="Click To Edit Title" [text]="list.name" [finishCallback]="nameEdited"
                                fontSize="2rem" fontColor="#4c4c4c" [editable]="editable" width="360px"></app-editable-text>
                        </div>
                    </div>
                    <div class="row" *ngIf="editable || list.address">
                        <div class="col-12 d-flex justify-content-center align-items-center">
                            <app-editable-text id="address" default="Click To Edit Address" [finishCallback]="addressEdited"
                                fontSize="1rem" fontColor="#ababab" [(text)]="list.address" [editable]="editable" width="360px"></app-editable-text>
                        </div>
                    </div>
                    <div class="row" *ngIf="editable || list.finishDate">
                        <div class="col-12 d-flex justify-content-center align-items-center">
                            <label for="finishDate" class="secondaryFontColor mb-0">Completion Date:</label>
                            <input [readOnly]="!editable" class="form-control text-center pr-0" [ngClass]="{'readOnlyDate':!editable}"
                                placeholder="yyyy-mm-dd" id="finishDate" name="finishDate" [(ngModel)]="list.datePickerDate"
                                (dateSelect)="finishDateChanged()" ngbDatepicker #finishDatePicker="ngbDatepicker"
                                (click)="editable && finishDatePicker.toggle()">
                            <div class="">
                                <button id="calendarButton" class="primaryFontColor" (click)="editable && finishDatePicker.toggle()"
                                    type="button"><i class="material-icons">
                                        calendar_today
                                    </i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <app-list-item-container *ngIf="list?._id" [list]="list" [editable]="editable"></app-list-item-container>
                </div>
            </div>
            <span (click)="editable = !editable">Switch</span>
        </div>
    </div>
</ng-template>