<div class="row">
    <div class="col-12 shadow pt-3" id="passwordForm">
        <h4 class="primaryFontColor mb-3">Enter new password:</h4>
        <form [formGroup]="formData" (ngSubmit)="onSubmit(formData.value)"  >
            <div class="form-group">
                <input formControlName="password" required type="password" class="form-control" placeholder="Password (8 digit)">
                <div *ngIf="password.invalid && (password.dirty)" class="alert alert-danger">
                    <div *ngIf="password.errors.required">
                        Password is required.
                    </div>
                </div>
                <div *ngIf="error?.token?.msg" class="alert alert-danger">
                    {{error.token.msg}}
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <button [disabled]="password.invalid" type="submit" class="btn btn-block btn-themeMutedBackground">Reset Password</button>
            </div>
        </form>
    </div>
</div>