<div class="row">
    <div class="col-12 mt-2">
        <h1 class="text-center primaryFontColor">
            Recent Lists
        </h1>
        <h5 class="text-center secondaryFontColor">You have <span class="themeFontColorMuted">visited</span> these
            lists recently</h5>
    </div>
</div>
<div *ngIf="loading; then loadingView else mainView"></div>
<ng-template #loadingView>
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <app-loading-spinner></app-loading-spinner>
        </div>
    </div>
</ng-template>
<ng-template #mainView>
    <div class="row listRow mt-3">
        <div class="col-12">
            <div class="row d-flex justify-content-center">
                <div class="col-12 col-sm-4" *ngFor="let list of recentLists">
                    <app-list-overview-item [editable]="false" [list]="list"></app-list-overview-item>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!recentLists || recentLists.length < 1" class="row mt-4">
        <div class="col-12 mt-4">
            <h5 class="text-center primaryFontColor">- none yet -</h5>
        </div>
    </div>
</ng-template>