<div id="main" class="d-flex justify-content-end align-items-center mt-0 mb-2">
    <div *ngIf="this.auth.isLoggedIn(); then loggedIn else notLoggedIn"></div>
    <ng-template #loggedIn>
        <div class="row">
            <div class="col-12 text-center">
                <h6 class="mb-0 mr-0 mt-2 mt-sm-4 mr-sm-4">
                    <button class="btn" (click)="click(false)">
                        <i class="material-icons mr-2 d-inline">menu</i>Menu</button></h6>
            </div>
        </div>
    </ng-template>
    <ng-template #notLoggedIn>
        <div class="row">
            <div class="col-12 text-center">
                <h6 *ngIf="firstTimeLoad" class="mb-0 mr-0 mt-2 mt-sm-4 mr-sm-4"> <button class="btn" (click)="appLoginComponent.open('registerTab')"> <i class="material-icons mr-2 d-inline">touch_app</i>Register</button></h6>
                <h6 *ngIf="!firstTimeLoad" class="mb-0 mr-0 mt-2 mt-sm-4 mr-sm-4"> <button class="btn" (click)="appLoginComponent.open('loginTab')"> <i class="material-icons mr-2 d-inline">lock_open</i>Login</button></h6>
            </div>
        </div>
    </ng-template>
</div>

<app-login-signup-modal #appLoginComponent></app-login-signup-modal>
<app-user-account #appUserAccount></app-user-account>