<button id="main" class="col-12" (click)="clicked()">
    <div class="row">
        <div class="col-12 col-6-md">
            <div class="row">
                <div class="col-12">
                    <img *ngIf="pictureUrl" id="mainImg" [src]="pictureUrl" alt="Button Picture">
                    <i *ngIf="icon" class="material-icons primaryFontColor">{{icon}}</i>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-12">
                    <h4 id="text" class="primaryFontColor">{{text}}</h4>
                </div>
            </div>
        </div>
    </div>
</button>