<button id="main" class="col-12 btn btn-themeMuted" [ngStyle]="{'border-color':borderColor}" (click)="clicked()">
    <div class="row">
        <div class="col-12 " [ngClass]="{'themeFontColorMuted': !color}" [ngStyle]="{'color':fontColor}">
            <!-- <img *ngIf="pictureUrl" id="mainImg" [src]="pictureUrl" alt="Button Picture"> -->
            <div class="row">
                <div class="col-4 d-flex justify-content-end align-items-center pr-0">
                    <i *ngIf="icon" id="mainImg" class="material-icons mr">{{icon}}</i>
                </div>
                <div class="col-8 d-flex justify-content-center align-items-center pl-0">
                    <h4 id="text" class="mb-0 ">{{text}}</h4>
                </div>
            </div>
        </div>
    </div>
</button>