#main{
    display:block;
    /* height:100px; */
    width:260px;
    /* background-color:#ffffff00;
    box-shadow: 0 0px 5px rgba(0,0,0,.3); */
}

#mainImg{
    /* max-width:75px;
    max-height:75px;
    width:100%; */
    font-size:3.3rem;
    position: relative;
    right:-15px;
}

#text{
    font-size: 1.3rem;
}

i{
    font-size:4rem;
}