<div class="row">
    <div class="col-12 mt-2">
        <h1 class="text-center primaryFontColor">
            Contact Us
        </h1>
    </div>
</div>
<div class="row my-5">
  <div class="col-12 mt-2">
      <h5 class="text-center themeFontColorMuted" >
        <div style="display: inline; cursor: pointer;" (click)="copyMessage('giftgimmie@gmail.com')" #titleTooltip="ngbTooltip"
        ngbTooltip="Copied address to clipboard" placement="bottom" triggers="manual">
        <i class="material-icons mr" >email</i>  giftgimmie@gmail.com
      </div>
      </h5>
  </div>
</div>
