<input *ngIf="editing" #input type="text" class="text-center" [readonly]="!editable" [ngClass]="{'editableText':editable}" [ngStyle]="{'font-size': fontSize,'color':fontColor,'width':width}" [(ngModel)]="text" (focusout)="finishEditing()" (keydown.enter)="finishEditing()" >
<h6 *ngIf="!editing" [ngStyle]="{'font-size': fontSize,'color':fontColor}" [ngClass]="{'editableText':editable}" class="text-center" (click)="clicked()">
    <div *ngIf="text; then showText else showDefault"></div>
    <ng-template #showText>
        {{text}}
    </ng-template>
    <ng-template #showDefault>
        <div *ngIf="editable">{{defaultText}}</div>
        <div *ngIf="!editable"></div>
    </ng-template>
</h6>