<ng-template #content let-modal>
    <div class="main">
        <div class="modal-header">
            <app-close class="close pl-0 pb-0 pr-1 pt-2" aria-label="Close" (callback)="modal.dismiss('Cross click')">
            </app-close>
        </div>
        <div class="modal-body pt-0 mb-1">
            <div class="row">
                <div class="col-12">
                    <h5 class="primaryFontColor text-center">Item URL</h5>
                    <h6 id="desc" class="secondaryFontColor text-center">Enter in a URL to make it easy for people to
                        find the perfect gift</h6>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-12 d-flex justify-content-center align-items-center">
                    <form #urlInput="ngForm">
                        <label for="urlInput" class="primaryFontColor mb-0">
                            <h6 class="mb-0 mr-2">Url:</h6>
                        </label>
                        <input name="url" id="url" type="text" class="text-center" [(ngModel)]="item.link" ngbAutofocus pattern="^(?:(?:https?|ftp):\/\/)?(?:(?!(?:10|127)(?:\.\d{1,3}){3})(?!(?:169\.254|192\.168)(?:\.\d{1,3}){2})(?!172\.(?:1[6-9]|2\d|3[0-1])(?:\.\d{1,3}){2})(?:[1-9]\d?|1\d\d|2[01]\d|22[0-3])(?:\.(?:1?\d{1,2}|2[0-4]\d|25[0-5])){2}(?:\.(?:[1-9]\d?|1\d\d|2[0-4]\d|25[0-4]))|(?:(?:[a-z\u00a1-\uffff0-9]-*)*[a-z\u00a1-\uffff0-9]+)(?:\.(?:[a-z\u00a1-\uffff0-9]-*)*[a-z\u00a1-\uffff0-9]+)*(?:\.(?:[a-z\u00a1-\uffff]{2,})))(?::\d{2,5})?(?:\/\S*)?$">
                        <div *ngIf="urlInput.invalid && urlInput.dirty"><h6 class="text-danger text-center">Invalid URL</h6></div>
                    </form>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-12 d-flex justify-content-center">
                    <button type="text" class="btn btn-success" id="saveButton" (click)="finishEditing()">Save</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>