.oversize {
    max-width: 100%;
    height: auto;
    max-height: 200px
}

.bigButton{
    width: 145px;
    font-size: 1.7rem; 
    color: #0095ff
}

#heroImage{
    background-color: #fff;
    margin-top: 25px
}

ul{
    list-style-type: none;
}

 .icon{
    font-size:1.5rem;
    color: #0095ff;
}
.listText {
    font-size: 1.5rem;
    vertical-align: center!important;
}

#alwaysFreeText{
    color: white;
    font-size: 2rem
}
.gimmieList{
    padding-inline-start: 0px;
}
