<div class="container-fluid">
    <div class="row p-4" id="heroImage">
        <div class="col-12 text-center">
            <img class="oversize" alt='Gimmie Gifts - Free Gift Registry' title='Gimmie Gifts - Free Gift Registry'  [src]="'./assets/img/branding/gimmie-gifts-gift-registry.png'">
            <h2 class="pt-3">The Forever Free Gift Registry</h2>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-12 d-flex justify-content-center">
            <ul class="primaryFontColor gimmieList">
                <li>
                    <div class="row">
                        <div class="col-12 d-flex align-items-center">
                            <i class="material-icons icon">alarm</i>
                            <span class="listText pl-3">Create lists with haste</span>
                        </div>
                    </div>

                </li>
                <li>
                    <div class="row">
                        <div class="col-12 d-flex align-items-center">
                            <i class="material-icons icon">smart_button</i>
                            <span class="listText pl-3">Dummy proof interface</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="col-12 d-flex align-items-center">
                            <i class="material-icons icon">face</i>
                            <span class="listText pl-3">Share lists among friends</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="row bg-primary mt-4">
        <div class="col-12 d-flex justify-content-center align-items-center">
            <h1 class="m-0 pt-3 pb-3 text-center" id="alwaysFreeText">Always Free</h1>
        </div>
    </div>
    <div class="row  mt-4">
        <div class="col-12 text-center">
            <a [routerLink]="'/wishlists'" class="btn bigButton">Let's Go!</a>
        </div>
    </div>
</div>