<notifier-container></notifier-container>
<div [@routeAnimations]="prepareRoute(outlet)">

    <mat-sidenav-container class="" fullscreen>
        <mat-sidenav-content class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <app-profile-display [sidenav]="sidenav"></app-profile-display>
                </div>
            </div>
            <router-outlet #outlet="outlet"></router-outlet>
        </mat-sidenav-content>
        <mat-sidenav #sidenav fixedInViewport="true" position="end" [mode]="'over'" (click)="sidenav.toggle()" [autoFocus]="'false'">
            <app-menu></app-menu>
        </mat-sidenav>
    </mat-sidenav-container>
</div>