li{
    list-style-type: circle;
}

#main{
    max-height:275px;
}
#listSize{
    max-height: 118px;
    overflow:hidden;
}
.card {
    border-radius: 0px;
}
.close {
    padding: 0px;
    margin: 0px;
    color:red;
}
.cardTopRow {
    background-color: white;
    min-height: 25px;
}
.cardHeadband {
    background-color: #399cca;
    padding: .25rem;
    color: white;
    font-size: 1.3rem;
}
.listItem {
    list-style-type: disc!important;
}
.authorText {
    color:#ffffff;
    font-size: 14px;
    position: relative;
    top: -5px;
    text-decoration: none;
}