<div class="row">
    <div class="col-12 mt-2">
        <h1 class="text-center primaryFontColor">
            {{editable ? 'My Lists' : userName + '\'s Lists'}}
        </h1>
        <h5 class="text-center secondaryFontColor" *ngIf="editable">Create and delete your lists</h5>
    </div>
</div>
<div class="row" *ngIf="editable">
    <div class="col-12 mt-4 mb-4 d-flex justify-content-center">
        <button type="button" id="createListButton" class="btn btn-themeMuted d-flex justify-content-center align-items-center"
            (click)="createList()">
            <i class="material-icons mr-2">
                add_circle_outline
            </i>
            <h4 class="themeFontColorMuted mb-0 d-inline pb-1">Create List</h4>
        </button>
    </div>
</div>
<div *ngIf="loading; then loadingView else mainView"></div>
<ng-template #loadingView>
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <app-loading-spinner></app-loading-spinner>
        </div>
    </div>
</ng-template>
<ng-template #mainView>
    <div class="row mt-2 mt-sm-4 mb-4" id="listRow">
        <div class="col-12">
            <div class="row d-flex justify-content-center">
                <div class="card-columns w-100">
                    <div class="card mb-4" *ngFor="let list of allLists">
                        <div class="modal-header cardTopRow p-0">
                            <button class="close" (click)="listDeleted(list)">
                                <i class="material-icons deleteListBtn">
                                    highlight_off
                                </i>
                            </button>
                        </div>
                        <div class="cardHeadband text-center shadow pointer" [routerLink]="'/wishlists/' + list._id">{{list.name ? list.name : 'Untitled List'}}</div>
                        <app-list-overview-item [editable]="editable" [list]="list" [deleteCallback]="listDeleted"></app-list-overview-item>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>