<div class="row">
    <div class="col-12 mt-2">
        <h1 class="text-center primaryFontColor">
            My Lists
        </h1>
        <h5 class="text-center secondaryFontColor">Create and delete your lists</h5>
    </div>

   
    <div class="col-12">
        <button (click)="eventService.loginModalEvent.next(false)" >Open</button>
    </div>
   

</div>
<div class="row">
    <div class="col-12">
        <div *ngFor="let list of allLists">
            <app-list-overview-item [list]="list"></app-list-overview-item>
        </div>
    </div>
</div>

<button (click)="auth.logout()">logout</button>