<div class="row shadow mr-1 ml-1 mt-3 mt-sm-0" id="main">
    <div class="col-12">
        <div class="row mt-2">
            <div class="col-12">
                <a [routerLink]="'/wishlists/owner/' + list.owner._id">
                    <p class="themeFontColorMuted mb-0 mr-1"><i class="material-icons mr-2">face</i>{{list.owner.name
                        + '\'s List' | titlecase}}</p>
                </a>
            </div>
        </div>
        <div class="row" id="listName">
            <div class="col-12">
                <h4 class="text-center primaryFontColor">{{list.name ? list.name : 'Untitled List'}}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-12 pl-0 pr-0">
                <button id="viewButton" type="button" [routerLink]="'/wishlists/' + list._id" class="btn w-100 themeFontColorMuted btn-themeMuted"><i
                        class="material-icons">
                        visibility
                    </i> View </button>
            </div>
        </div>
    </div>
</div>