<ng-template #content let-modal>
    <div class="main">
        <div class="modal-header">
            <app-close class="close pl-0 pb-0 pr-1 pt-2" aria-label="Close" (callback)="modal.dismiss('Cross click')">
            </app-close>
        </div>
        <div class="modal-body pt-0 mb-1">
            <ngb-tabset [activeId]="'loginTab'" [justify]="'center'" [destroyOnHide]="false">
                <ngb-tab title="Register" id="registerTab">
                    <ng-template ngbTabContent>
                        <app-register (finishCallback)="modal.dismiss('Cross click')"></app-register>
                    </ng-template>
                </ngb-tab>
               
                <ngb-tab title="Login" id="loginTab">
                    <ng-template ngbTabContent>
                        <app-login (finishCallback)="modal.dismiss('Cross click')"></app-login>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
    </div>
</ng-template>