<app-find-modal #findModal></app-find-modal>

<div class="row">
    <div id="flex" class="col-12 d-flex justify-content-center align-items-center">
        <div class="row">
            <div id="titleRow" class="col-12 mt-2">
                <h1 class="text-center mb-0 mt-2 primaryFontColor">Gimmie Gifts</h1>
                <h4 class="text-center mb-2 mb-sm-4 secondaryFontColor">A <span class="themeFontColorMuted">simple</span>
                    gift registry</h4>
            </div>
            <div class="col-12 mt-4">
                <div id="main" class="row">
                    <app-picture-with-text routerLink="/wishlists" class="col-12 col-sm-6 mb-4 mb-sm-0" text="My Lists"
                        icon="format_list_bulleted"></app-picture-with-text>

                    <div *ngIf="auth.isLoggedIn(); then claimedItems else register"></div>
                    <ng-template #claimedItems>
                        <app-picture-with-text routerLink="/items/claimed" class="col-12 col-sm-6 mb-4 mb-sm-0" text="Claimed Items"
                            icon="shopping_basket"></app-picture-with-text>
                    </ng-template>
                    <ng-template #register>
                        <app-picture-with-text (click)="registerButtonClicked()" class="col-12 col-sm-6 mt-4 mt-sm-0"
                            text="Register" icon="login"></app-picture-with-text>
                    </ng-template>

                </div>
            </div>
        </div>
    </div>
</div>