<div class="row" id="">
    
    <div class="col-12">
        <div id="main" class="row">

            <app-picture-with-text class="col-12 col-sm-6 mt-auto mt-sm-0 mb-4 mb-sm-0 d-flex justify-content-center align-items-center" text="My Lists" pictureUrl="https://gal.proto.io/assets/f1436347946263/0254fcc9d22c940405dfea499276bbf8.svg"></app-picture-with-text>
            <app-picture-with-text class="col-12 col-sm-6 mb-auto mb-sm-0 mt-4 mt-sm-0 d-flex justify-content-center align-items-center" text="Find Things" pictureUrl="https://gal.proto.io/assets/f1436348053731/c92baa79f439a86f8a2d40fa2045cc75.svg"></app-picture-with-text>
        </div>
    </div>
</div>

<!-- d-flex justify-content-center align-items-center -->