<app-find-modal #findModal></app-find-modal>

<ng-template #content let-modal>
    <div class="main">
        <div class="modal-header">
            <app-close class="close pl-0 pb-0 pr-1 pt-2" aria-label="Close" (callback)="modal.dismiss('Cross click')">
            </app-close>
        </div>
        <div class="modal-body pt-0 mb-1">
            <div class="row">
                <div class="col-12">
                    <h4 class="text-center primaryFontColor">
                        Hello {{activeUser.name | titlecase}}!
                    </h4>
                    <h5 class="text-center secondaryFontColor">What would you like to do?</h5>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12 d-flex justify-content-center">
                    <app-picture-with-text-small icon="menu" text="My Lists" [fontColor]="'#4c4c4c'" (callback)="myListButtonClicked()">
                    </app-picture-with-text-small>
                </div>
                <div class="col-12 d-flex justify-content-center mt-2">
                        <app-picture-with-text-small icon="history" text="Recent Lists" [fontColor]="'#4c4c4c'" (callback)="recentListButtonClicked()">
                        </app-picture-with-text-small>
                    </div>
                <div class="col-12 d-flex justify-content-center mt-2">
                    <app-picture-with-text-small icon="search" text="Find a List" [fontColor]="'#4c4c4c'" (callback)="findThingsClicked()">
                    </app-picture-with-text-small>
                </div>
                <div class="col-12 d-flex justify-content-center mt-2">
                    <app-picture-with-text-small ngbAutofocus icon="home" text="Go Home" [fontColor]="'#4c4c4c'"
                        (callback)="goHomeClicked()">
                    </app-picture-with-text-small>
                </div>
                <div class="col-12 d-flex justify-content-center mt-2 mb-3">
                    <app-picture-with-text-small icon="settings_phone" text="Contact Us" [fontColor]="'#4c4c4c'"
                        (callback)="contactUsClicked()">
                    </app-picture-with-text-small>
                </div>
                <div class="col-12 d-flex justify-content-center mt-2 mb-3">
                    <app-picture-with-text-small icon="exit_to_app" text="Logout" [borderColor]="'#ca3939'" [fontColor]="'#ca3939'"
                        (callback)="logout()">
                    </app-picture-with-text-small>
                </div>

            </div>
        </div>
    </div>
</ng-template>