/* You can add global styles to this file, and also import other style files */
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '~angular-notifier/styles.css';


/****** Main theme ******/

/*** Background Colors ***/
.primaryBGColor{
    background-color:#dce3ff;
}
.secondaryBGColor{
}
.btn{
    border: 1px solid #ababab;
    color: #4c4c4c;
}
.btn-danger{
    border: 1px solid #ababab;
    color: white;
    background-color:#df2d2d;
}
/* .shadow{
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
} */

/*** Fonts ***/
.primaryFontColor{
    color: #4c4c4c;
}
.secondaryFontColor{
    color:#ababab;
}

i{
    vertical-align: middle;
}

/*** Tabs ***/
#ngb-tab-0{
    font-size:18px;
}
#ngb-tab-1{
    font-size:18px;
}
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
.nav-tabs {
    margin-bottom: 0;
}

/*** Modal ***/
.modal-backdrop{
    animation-name: fadeInHalf;
    animation-duration: 0.4s;
}
.modal{
    animation-name: fadeIn;
    animation-duration: 0.35s;
}
@keyframes fadeInHalf {
    0%   {opacity: 0}
    100% {opacity: 0.5}
}
@keyframes fadeIn {
    0%   {opacity: 0}
    100% {opacity: 1}
}