.modal-header{
    border:0;
}
#searchBox{
    width:250px;
    /* height:40px; */
    font-size:1.25rem;
}
#searchIcon{
    font-size:1.5rem;
}
#searchButton{
    width:100%;
    color:white;
}
#searchButton span{
    position: relative;
    left:-7px;
}
button{
    
    border-radius: 0;
}